.titulo-registro {
  color: rgb(235, 127, 12);
  margin-left: 4px;
}

.input {
  margin-left: 5px;
  font-weight: bold;
}

.botoncito {
  background-color: rgba(154, 240, 154, 0.667);
  margin-left: 10px;
  width: 8vw;
  height: 3vh;
  font-weight: bold;
}

.frase-registro {
  color: rgb(12, 94, 96);
  font-size: 18px;
  margin-left: 4px;
}

.pinchar-aqui {
  font-size: 20px;
  font-family: fantasy;
  font-weight: bold;
  color: rgb(1, 66, 132);
  margin-left: 5px;
}

.form-registro {
  width: 100vw;
  height: 20hw;
  background-color: rgba(206, 235, 192, 0.414);
  padding: 15px;
}
