.login-form {
  width: 100vw;
  height: 20hw;
  background-color: rgba(193, 222, 247, 0.523);
  padding: 15px;
}

.titulo {
  color: hotpink;
  margin-left: 4px;
}

.inputs {
  font-weight: bold;
  margin-left: 4px;
}

.boton-login {
  background-color: rgba(255, 171, 199, 0.695);
  margin-left: 4px;
  width: 8vw;
  height: 3vh;
  font-weight: bold;
}

.registrate {
  color: rgb(12, 94, 96);
  font-size: 18px;
  margin-left: 4px;
}

.resaltado {
  color: rgb(12, 94, 96);
  font-size: 20px;
  font-family: fantasy;
  font-weight: bold;
  margin-left: 5px;
}
